.home__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
}
.articles {
  float: left;
  margin-right: 28px;
  max-width: 614px;
  width: 100%;
}
.sidebar_content {
  position: fixed;
  right: 200px;
  margin-left: 10px;
  padding-left: 20px;
}
